# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Variables
*.tfvars

# Environment files
.env

# Node.js
node_modules/

# Frontend/Backend folders
frontend/
backend/
*.rfplan
node_modules/
.env
*.tfstate
*.tfstate.*
backend.tfplan
